@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mainBlue {
    @apply text-blue-500 bg-mainBlue; /* 원하는 Tailwind 유틸리티 조합 */
  }
}
@layer base {
  body {
    color: #333333;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
